.login-text {
    padding: 2rem;
    text-align: center;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-family: "Inter", sans-serif;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 2rem auto;
    width: 40%;
    font-family: "Inter", sans-serif;
    height: 100px;
}

.login-field {
    margin: 5px 0;
    width: 300px;
    height: 400px;
    font-family: "Inter", sans-serif;
}

.login-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
    font-family: "Inter", sans-serif;
}

.login-field input:focus {
    border-color: #00ffe1;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
    font-family: "Inter", sans-serif;
}

.signup-link {
    font-size: 0.9rem;
    color: #12405e;
    margin-top: 10px;
    font-family: "Inter", sans-serif;
}

.signup-link a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
    font-family: "Inter", sans-serif;
}

.signup-link a:hover {
    color: #0e5199;
}

.error {
    font-size: small;
    color: red;
    margin-top: 10px;
}



/* Responsive Design */
@media (max-width: 600px) {
    .login-text {
        font-size: 1rem;
        padding: 1.5rem;
        font-family: "Inter", sans-serif;
    }

    .login-form {
        padding: 1.5rem;
    }

    .login-field input {
        padding: 8px;
    }

    footer {
        font-size: 0.8rem;
        padding: 1rem 0;
    }
}