body {
    font-family:"Inter", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #dad2c8;
}

.navbar a{
    background-color: #B4CEB3;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: #302f2f;
}

.navdiv{
    background-color: #B4CEB3;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.heading{
    font-size: 24px;
    text-decoration: none;
    color:#302f2f;
}

li {
    list-style: none;
    display: inline-block;
    font: 14px;
}

li a{
    font-size: 18px;
    font-weight: 500;
}

.signup{
    border-radius: 6px;
    border-color: #B4CEB3;
    border-bottom-color: #B4CEB3;
    box-shadow: none;
    padding: 10px;
    width: 110px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.login{
    border-radius: 6px;
    border-color: #B4CEB3;
    border-bottom-color: #B4CEB3;
    box-shadow: none;
    padding: 10px;
    width: 120px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.signup a{
    background-color:#f0f0f0;
}
.login a{
    background-color: #f0f0f0;
}